@keyframes repeat-text {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.animate-scroll {
    animation: repeat-text 10s linear infinite;
}